ProxyAgent/src/conf/xml-resources/web-service-references/ProxyWebService/wsdl/localhost_8080/ProxyWebService/ProxyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ProxyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ProxyWebService/ProxyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createProxyBid">
<part name="parameters" element="tns:createProxyBid"/>
</message>
<message name="createProxyBidResponse">
<part name="parameters" element="tns:createProxyBidResponse"/>
</message>
<message name="AuctionClosedException">
<part name="fault" element="tns:AuctionClosedException"/>
</message>
<message name="AuctionNotOpenException">
<part name="fault" element="tns:AuctionNotOpenException"/>
</message>
<message name="BidAlreadyExistException">
<part name="fault" element="tns:BidAlreadyExistException"/>
</message>
<message name="NotEnoughCreditException">
<part name="fault" element="tns:NotEnoughCreditException"/>
</message>
<message name="BidLessThanIncrementException">
<part name="fault" element="tns:BidLessThanIncrementException"/>
</message>
<message name="GeneralException">
<part name="fault" element="tns:GeneralException"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="AuctionNotFoundException">
<part name="fault" element="tns:AuctionNotFoundException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="IncorrectPasswordException">
<part name="fault" element="tns:IncorrectPasswordException"/>
</message>
<message name="CustomerNotPremiumException">
<part name="fault" element="tns:CustomerNotPremiumException"/>
</message>
<message name="registration">
<part name="parameters" element="tns:registration"/>
</message>
<message name="registrationResponse">
<part name="parameters" element="tns:registrationResponse"/>
</message>
<message name="CustomerAlreadyPremiumException">
<part name="fault" element="tns:CustomerAlreadyPremiumException"/>
</message>
<message name="viewAuctionListDetails">
<part name="parameters" element="tns:viewAuctionListDetails"/>
</message>
<message name="viewAuctionListDetailsResponse">
<part name="parameters" element="tns:viewAuctionListDetailsResponse"/>
</message>
<message name="viewAuctionListByName">
<part name="parameters" element="tns:viewAuctionListByName"/>
</message>
<message name="viewAuctionListByNameResponse">
<part name="parameters" element="tns:viewAuctionListByNameResponse"/>
</message>
<message name="viewCreditBalance">
<part name="parameters" element="tns:viewCreditBalance"/>
</message>
<message name="viewCreditBalanceResponse">
<part name="parameters" element="tns:viewCreditBalanceResponse"/>
</message>
<message name="viewAllAuctionListings">
<part name="parameters" element="tns:viewAllAuctionListings"/>
</message>
<message name="viewAllAuctionListingsResponse">
<part name="parameters" element="tns:viewAllAuctionListingsResponse"/>
</message>
<message name="viewWonAuctionListings">
<part name="parameters" element="tns:viewWonAuctionListings"/>
</message>
<message name="viewWonAuctionListingsResponse">
<part name="parameters" element="tns:viewWonAuctionListingsResponse"/>
</message>
<message name="createSnippingBid">
<part name="parameters" element="tns:createSnippingBid"/>
</message>
<message name="createSnippingBidResponse">
<part name="parameters" element="tns:createSnippingBidResponse"/>
</message>
<message name="viewWinningBid">
<part name="parameters" element="tns:viewWinningBid"/>
</message>
<message name="viewWinningBidResponse">
<part name="parameters" element="tns:viewWinningBidResponse"/>
</message>
<message name="BidNotFoundException">
<part name="fault" element="tns:BidNotFoundException"/>
</message>
<message name="viewMyBidInAuction">
<part name="parameters" element="tns:viewMyBidInAuction"/>
</message>
<message name="viewMyBidInAuctionResponse">
<part name="parameters" element="tns:viewMyBidInAuctionResponse"/>
</message>
<message name="viewCurrentHighestBid">
<part name="parameters" element="tns:viewCurrentHighestBid"/>
</message>
<message name="viewCurrentHighestBidResponse">
<part name="parameters" element="tns:viewCurrentHighestBidResponse"/>
</message>
<portType name="ProxyWebService">
<operation name="createProxyBid">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBidRequest" message="tns:createProxyBid"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBidResponse" message="tns:createProxyBidResponse"/>
<fault message="tns:AuctionClosedException" name="AuctionClosedException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/AuctionClosedException"/>
<fault message="tns:AuctionNotOpenException" name="AuctionNotOpenException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/AuctionNotOpenException"/>
<fault message="tns:BidAlreadyExistException" name="BidAlreadyExistException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/BidAlreadyExistException"/>
<fault message="tns:NotEnoughCreditException" name="NotEnoughCreditException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/NotEnoughCreditException"/>
<fault message="tns:BidLessThanIncrementException" name="BidLessThanIncrementException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/BidLessThanIncrementException"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/GeneralException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/CustomerNotFoundException"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/createProxyBid/Fault/AuctionNotFoundException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/CustomerNotFoundException"/>
<fault message="tns:IncorrectPasswordException" name="IncorrectPasswordException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/IncorrectPasswordException"/>
<fault message="tns:CustomerNotPremiumException" name="CustomerNotPremiumException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/CustomerNotPremiumException"/>
</operation>
<operation name="registration">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/registrationRequest" message="tns:registration"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/registrationResponse" message="tns:registrationResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/registration/Fault/CustomerNotFoundException"/>
<fault message="tns:IncorrectPasswordException" name="IncorrectPasswordException" wsam:Action="http://ws.session.ejb/ProxyWebService/registration/Fault/IncorrectPasswordException"/>
<fault message="tns:CustomerAlreadyPremiumException" name="CustomerAlreadyPremiumException" wsam:Action="http://ws.session.ejb/ProxyWebService/registration/Fault/CustomerAlreadyPremiumException"/>
</operation>
<operation name="viewAuctionListDetails">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListDetailsRequest" message="tns:viewAuctionListDetails"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListDetailsResponse" message="tns:viewAuctionListDetailsResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListDetails/Fault/AuctionNotFoundException"/>
</operation>
<operation name="viewAuctionListByName">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListByNameRequest" message="tns:viewAuctionListByName"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListByNameResponse" message="tns:viewAuctionListByNameResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewAuctionListByName/Fault/AuctionNotFoundException"/>
</operation>
<operation name="viewCreditBalance">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewCreditBalanceRequest" message="tns:viewCreditBalance"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewCreditBalanceResponse" message="tns:viewCreditBalanceResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewCreditBalance/Fault/CustomerNotFoundException"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewCreditBalance/Fault/GeneralException"/>
</operation>
<operation name="viewAllAuctionListings">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewAllAuctionListingsRequest" message="tns:viewAllAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewAllAuctionListingsResponse" message="tns:viewAllAuctionListingsResponse"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewAllAuctionListings/Fault/GeneralException"/>
</operation>
<operation name="viewWonAuctionListings">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewWonAuctionListingsRequest" message="tns:viewWonAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewWonAuctionListingsResponse" message="tns:viewWonAuctionListingsResponse"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewWonAuctionListings/Fault/GeneralException"/>
</operation>
<operation name="createSnippingBid">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBidRequest" message="tns:createSnippingBid"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBidResponse" message="tns:createSnippingBidResponse"/>
<fault message="tns:AuctionClosedException" name="AuctionClosedException" wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBid/Fault/AuctionClosedException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBid/Fault/CustomerNotFoundException"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBid/Fault/AuctionNotFoundException"/>
<fault message="tns:BidAlreadyExistException" name="BidAlreadyExistException" wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBid/Fault/BidAlreadyExistException"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/createSnippingBid/Fault/GeneralException"/>
</operation>
<operation name="viewWinningBid">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewWinningBidRequest" message="tns:viewWinningBid"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewWinningBidResponse" message="tns:viewWinningBidResponse"/>
<fault message="tns:BidNotFoundException" name="BidNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewWinningBid/Fault/BidNotFoundException"/>
</operation>
<operation name="viewMyBidInAuction">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewMyBidInAuctionRequest" message="tns:viewMyBidInAuction"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewMyBidInAuctionResponse" message="tns:viewMyBidInAuctionResponse"/>
<fault message="tns:BidNotFoundException" name="BidNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewMyBidInAuction/Fault/BidNotFoundException"/>
</operation>
<operation name="viewCurrentHighestBid">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/viewCurrentHighestBidRequest" message="tns:viewCurrentHighestBid"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/viewCurrentHighestBidResponse" message="tns:viewCurrentHighestBidResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/viewCurrentHighestBid/Fault/AuctionNotFoundException"/>
</operation>
</portType>
<binding name="ProxyWebServicePortBinding" type="tns:ProxyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createProxyBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionClosedException">
<soap:fault name="AuctionClosedException" use="literal"/>
</fault>
<fault name="AuctionNotOpenException">
<soap:fault name="AuctionNotOpenException" use="literal"/>
</fault>
<fault name="BidAlreadyExistException">
<soap:fault name="BidAlreadyExistException" use="literal"/>
</fault>
<fault name="NotEnoughCreditException">
<soap:fault name="NotEnoughCreditException" use="literal"/>
</fault>
<fault name="BidLessThanIncrementException">
<soap:fault name="BidLessThanIncrementException" use="literal"/>
</fault>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="IncorrectPasswordException">
<soap:fault name="IncorrectPasswordException" use="literal"/>
</fault>
<fault name="CustomerNotPremiumException">
<soap:fault name="CustomerNotPremiumException" use="literal"/>
</fault>
</operation>
<operation name="registration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="IncorrectPasswordException">
<soap:fault name="IncorrectPasswordException" use="literal"/>
</fault>
<fault name="CustomerAlreadyPremiumException">
<soap:fault name="CustomerAlreadyPremiumException" use="literal"/>
</fault>
</operation>
<operation name="viewAuctionListDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAuctionListByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="viewAllAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="viewWonAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="createSnippingBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionClosedException">
<soap:fault name="AuctionClosedException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
<fault name="BidAlreadyExistException">
<soap:fault name="BidAlreadyExistException" use="literal"/>
</fault>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="viewWinningBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BidNotFoundException">
<soap:fault name="BidNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewMyBidInAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BidNotFoundException">
<soap:fault name="BidNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewCurrentHighestBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProxyWebService">
<port name="ProxyWebServicePort" binding="tns:ProxyWebServicePortBinding">
<soap:address location="http://localhost:8080/ProxyWebService/ProxyWebService"/>
</port>
</service>
</definitions>