ProxyAgent/src/conf/wsdl/localhost_8080/ProxyWebService/ProxyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ProxyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ProxyWebService/ProxyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewCustomerEntity">
<part name="parameters" element="tns:createNewCustomerEntity"/>
</message>
<message name="createNewCustomerEntityResponse">
<part name="parameters" element="tns:createNewCustomerEntityResponse"/>
</message>
<message name="CustomerAlreadyExistException">
<part name="fault" element="tns:CustomerAlreadyExistException"/>
</message>
<message name="GeneralException">
<part name="fault" element="tns:GeneralException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="IncorrectPasswordException">
<part name="fault" element="tns:IncorrectPasswordException"/>
</message>
<message name="DuplicateException">
<part name="fault" element="tns:DuplicateException"/>
</message>
<portType name="ProxyWebService">
<operation name="createNewCustomerEntity">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/createNewCustomerEntityRequest" message="tns:createNewCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/createNewCustomerEntityResponse" message="tns:createNewCustomerEntityResponse"/>
<fault message="tns:CustomerAlreadyExistException" name="CustomerAlreadyExistException" wsam:Action="http://ws.session.ejb/ProxyWebService/createNewCustomerEntity/Fault/CustomerAlreadyExistException"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/ProxyWebService/createNewCustomerEntity/Fault/GeneralException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/ProxyWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/ProxyWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/CustomerNotFoundException"/>
<fault message="tns:IncorrectPasswordException" name="IncorrectPasswordException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/IncorrectPasswordException"/>
<fault message="tns:DuplicateException" name="DuplicateException" wsam:Action="http://ws.session.ejb/ProxyWebService/customerLogin/Fault/DuplicateException"/>
</operation>
</portType>
<binding name="ProxyWebServicePortBinding" type="tns:ProxyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerAlreadyExistException">
<soap:fault name="CustomerAlreadyExistException" use="literal"/>
</fault>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="IncorrectPasswordException">
<soap:fault name="IncorrectPasswordException" use="literal"/>
</fault>
<fault name="DuplicateException">
<soap:fault name="DuplicateException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProxyWebService">
<port name="ProxyWebServicePort" binding="tns:ProxyWebServicePortBinding">
<soap:address location="http://localhost:8080/ProxyWebService/ProxyWebService"/>
</port>
</service>
</definitions>